@import url('https://fonts.googleapis.com/css2?family=Cubano&display=swap');

body {
    font-family: '  Cubano', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6ea; /* Beige */

}

header {
    background-color: #2c1608; /* Marrón oscuro */
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-start; /* Cambiado a space-between */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    background-color: #2c1608; /* Marrón oscuro */
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #4c2914; /* Marrón más claro para resaltar al pasar el mouse */
}

.page-title {
    font-size: 200px;
    font-weight: bold;
    margin: 10px 0;
    text-align: left; /* Alinea el texto al centro */
    margin-left: 40px; /* Ajusta el margen izquierdo según tus necesidades */
    margin-bottom: 5px;

}
.lineas {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
}

.sub-title {
    font-size: 200px;
    font-weight: bold;
    margin: 20px 0;
    text-align: start; /* Alinea el texto al centro */
    text-align: left; /* Alinea el texto al centro */
    margin-left: 40px; /* Ajusta el margen izquierdo según tus necesidades */
}

.btn-black {
    background-color: #000;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    margin: 30px 0;
    margin-left: 50px; 
}

.btn-black:hover {
    background-color: #333; /* Cambiar el color al pasar el mouse */
}


/* Estilos de botones */
.button,
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #747261;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.button:hover,
.btn:hover {
    background-color: #e6b63d;
}

.btn-secondary {
    background-color: #3489aa;
}

.btn-secondary:hover {
    background-color: #545b62;
}


.lineas {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 20px;
}